.app-content {
    margin-left: 4em;
    overflow: auto;
}

.button {
    padding: 0.5em 1em;
    background-color: var(--color-neutral);
    border: 1px solid var(--color-neutral-alt);
    border-radius: 0.5em;
    font-size: inherit;
    transition: background-color var(--transition-time);
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-neutral-alt);
}

.link {
    transition: color var(--transition-time);
}

.link:hover {
    color: var(--color-primary);
}
