.server-console {
    max-width: 1200px;
}

.server-console-output {
    padding: 1em;
    background-color: #0a0a0a;
    border: 1px solid #222222;
    border-radius: 0.5rem;
    height: 500px;
    overflow-y: scroll;
    white-space: pre-wrap;
}

.server-console-input {
    width: 100%;
    padding: 0.5em;
    background-color: var(--color-neutral);
    border: 1px solid var(--color-neutral-alt);
    border-radius: 0.5em;
}
