.server-view-header {
    display: flex;
    justify-content: space-between;
}

.server-details {
    display: flex;
    align-items: baseline;
    gap: 1em;
}

.server-actions .button {
    min-width: 6em;
    margin-left: 0.5em;
}
